.datetimepicker {
    float: right
}

.datetimepicker.dropdown-menu {
    right: auto
}

.datepicker {
    width: 245px;
    right: auto;
}

.ms-selectable {
    float: right !important;
}

.ms-selection {
    float: left !important;
}

.mutli-options {
    position: absolute;
    right: -9999px !important;
    left: 0 !important;
}

.bootstrap-tagsinput {
    width: 100%;
}

.checkbox-inline {
    direction: initial;
    display: block;
}

.form-group.form-md-line-input.select {
    margin-right: 5px;
}