/* Reset */





.chosen-single span {  color: #444; line-height: 1.4em; }



.chosen-select,
.chosen-select-no-single,
.chosen-select-no-results,
.chosen-select-deselect,
.chosen-select-rtl,
.chosen-select-width {
  width: 350px;
}

.jquery-version-refer {
  margin-top: 40px;
  font-style: italic;
}
